body {
    font-family: Arial, sans-serif;
    background-color: #b4770f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: yellow;
    margin: 0;
}



.main_right {
    background-color: rgba(68, 27, 5, 0.875);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: yellow;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

form input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: black;
}

.signup a {
    color: yellow;
}

.signup a:hover {
    text-decoration: underline;
}

.allow input[type="checkbox"] {
    height: 20px; 
    width: auto; 
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px; 
    width: 25px;
    height: 25px;
}